
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  background: linear-gradient(to bottom right, #f9f9f9, #f4f4f4);
  font-family: 'Roboto', sans-serif;
}

.edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-input {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1vh;
}

.edit button,
.submit-button,
.ajouter-article {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1vh;
}

.product-card-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 75%;
}

.edit-delete {
  display: flex;
  justify-content: center;
  color: #777;
}

.edit-delete svg:hover {
  display: flex;
  justify-content: center;
  color: black;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 3px;
}

.product-card img {
  max-width: 100%;
  max-height: 30vh;
  height: auto;
  margin: 16px 0;
}

.product-card p {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #777;
  margin: 8px 0;
}

.barre {
  text-decoration: line-through;
}

.price {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.logo h1 a {
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
}

.logo {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
  box-sizing: border-box;
  text-decoration: none;

}

.top-nav a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 1rem;
  overflow: hidden;
}

.categorie link {
  color: white;
  text-decoration: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.ajouter-article-container {
  text-align: center; 
  margin-top: 1vh;
}

.ajouter-article {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2vh;
}

.form-container {
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 3vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: fit-content;
  margin: 0 auto; 
  text-align: center; 
  margin-bottom: 2vh;
}

.form-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}

.custom-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
  text-align: center;
}

.form-input {
  margin: 1vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #222;
  width: 100%; 
}
